<div class="btSiteFooter">
    <div class="bt_bb_wrapper">
        <section id="bt_bb_section62a90cb854f92"
            class="bt_bb_section bt_bb_top_spacing_medium bt_bb_color_scheme_1 bt_bb_layout_boxed_1200 bt_bb_vertical_align_top"
            style="background: linear-gradient(75deg, #225b7b 0%, #143749 100%)">
            <div class="bt_bb_port">
                <div class="bt_bb_cell">
                    <div class="bt_bb_cell_inner">
                        <div class="bt_bb_row_wrapper">
                            <div class="bt_bb_row bt_bb_column_gap_10 bt_bb_hidden_xs bt_bb_hidden_ms">
                                <div class="bt_bb_column col-md-3 col-sm-6 col-ms-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal"
                                    data-width="3">
                                    <div class="bt_bb_column_content">
                                        <header
                                            class="bt_bb_headline bt_bb_color_scheme_1 bt_bb_dash_top bt_bb_superheadline bt_bb_subheadline bt_bb_size_extrasmall bt_bb_align_inherit"
                                            data-bt-override-class="{}">
                                            <h5 class="bt_bb_headline_tag">
                                                <span class="bt_bb_headline_superheadline">AVANTAGE</span><span
                                                    class="bt_bb_headline_content"><span><b>Headquarters</b></span></span>
                                            </h5>
                                            <div class="bt_bb_headline_subheadline">
                                                Organically grow the holistic world view of
                                                disruptive innovation via empowerment.
                                            </div>
                                        </header>
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_small"
                                            data-bt-override-class="null"></div>
                                        <div
                                            class="bt_bb_icon bt_bb_color_scheme_6 bt_bb_style_borderless bt_bb_size_xsmall bt_bb_shape_circle bt_bb_align_inherit">
                                            <a href="tel:02079460020" target="_self" title="020 7946 0020"
                                                data-ico-fontawesome="&#xf095;" class="bt_bb_icon_holder"><span>020 7946
                                                    0020</span></a>
                                        </div>
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_extra_small"
                                            data-bt-override-class="null"></div>
                                        <div
                                            class="bt_bb_icon bt_bb_color_scheme_6 bt_bb_style_borderless bt_bb_size_xsmall bt_bb_shape_circle bt_bb_align_inherit">
                                            <a href="mailto:info@avantage.co.uk" target="_self"
                                                title="info@avantage.co.uk" data-ico-fontawesome="&#xf0e0;"
                                                class="bt_bb_icon_holder"><span>info@avantage.co.uk</span></a>
                                        </div>
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_extra_small"
                                            data-bt-override-class="null"></div>
                                        <div
                                            class="bt_bb_icon bt_bb_color_scheme_6 bt_bb_style_borderless bt_bb_size_xsmall bt_bb_shape_circle bt_bb_align_inherit">
                                            <a href="http://www.avantage.co.uk" target="_blank" title="avantage.co.uk"
                                                data-ico-fontawesome="&#xf0ac;"
                                                class="bt_bb_icon_holder"><span>avantage.co.uk</span></a>
                                        </div>
                                        <div class="bt_bb_separator bt_bb_border_style_none"
                                            data-bt-override-class="null"></div>
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_top_spacing_normal bt_bb_bottom_spacing_medium"
                                            data-bt-override-class="null"></div>
                                    </div>
                                </div>
                                <div class="bt_bb_column col-md-3 col-sm-6 col-ms-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal"
                                    data-width="3">
                                    <div class="bt_bb_column_content">
                                        <header
                                            class="bt_bb_headline bt_bb_color_scheme_1 bt_bb_dash_top bt_bb_superheadline bt_bb_size_extrasmall bt_bb_align_inherit"
                                            data-bt-override-class="{}">
                                            <h5 class="bt_bb_headline_tag">
                                                <span class="bt_bb_headline_superheadline">OUR
                                                    LOCATIONS</span><span class="bt_bb_headline_content"><span><b>Where
                                                            to find
                                                            us?</b></span></span>
                                            </h5>
                                        </header>
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_small"
                                            data-bt-override-class="null"></div>
                                        <div class="bt_bb_image bt_bb_shape_square bt_bb_align_inherit bt_bb_hover_style_simple bt_bb_content_display_always bt_bb_content_align_middle"
                                            data-bt-override-class="{}">
                                            <span><img width="280" height="142"
                                                    src="http://avantage.bold-themes.com/business/wp-content/uploads/sites/2/2019/04/img-footer-map.png"
                                                    class="attachment-full size-full"
                                                    alt="http://avantage.bold-themes.com/business/wp-content/uploads/sites/2/2019/04/img-footer-map.png"
                                                    loading="lazy"
                                                    data-full_image_src="http://avantage.bold-themes.com/business/wp-content/uploads/sites/2/2019/04/img-footer-map.png"
                                                    title="img-footer-map" /></span>
                                        </div>
                                        <div class="bt_bb_separator bt_bb_border_style_none"
                                            data-bt-override-class="null"></div>
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_top_spacing_normal bt_bb_bottom_spacing_medium"
                                            data-bt-override-class="null"></div>
                                    </div>
                                </div>
                                <div class="bt_bb_column col-md-3 col-sm-6 col-ms-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal"
                                    data-width="3">
                                    <div class="bt_bb_column_content">
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_top_spacing_medium bt_bb_bottom_spacing_medium"
                                            data-bt-override-class="null"></div>
                                        <div
                                            class="bt_bb_icon bt_bb_color_scheme_4 bt_bb_style_borderless bt_bb_size_xsmall bt_bb_shape_circle bt_bb_align_inherit">
                                            <a href="tel:02079460020" target="_self" title="London: 020 7946 0020"
                                                data-ico-fontawesome="&#xf041;" class="bt_bb_icon_holder"><span>London:
                                                    020 7946 0020</span></a>
                                        </div>
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_extra_small"
                                            data-bt-override-class="null"></div>
                                        <div
                                            class="bt_bb_icon bt_bb_color_scheme_4 bt_bb_style_borderless bt_bb_size_xsmall bt_bb_shape_circle bt_bb_align_inherit">
                                            <a href="tel:6132855534" target="_self" title="Ontario: 613 285 5534"
                                                data-ico-fontawesome="&#xf041;" class="bt_bb_icon_holder"><span>Ontario:
                                                    613 285 5534</span></a>
                                        </div>
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_extra_small"
                                            data-bt-override-class="null"></div>
                                        <div
                                            class="bt_bb_icon bt_bb_color_scheme_4 bt_bb_style_borderless bt_bb_size_xsmall bt_bb_shape_circle bt_bb_align_inherit">
                                            <a href="tel:0428298114" target="_self" title="Tokyo: 0428 298 114"
                                                data-ico-fontawesome="&#xf041;" class="bt_bb_icon_holder"><span>Tokyo:
                                                    0428 298 114</span></a>
                                        </div>
                                        <div class="bt_bb_separator bt_bb_border_style_none"
                                            data-bt-override-class="null"></div>
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_top_spacing_normal bt_bb_bottom_spacing_medium"
                                            data-bt-override-class="null"></div>
                                    </div>
                                </div>
                                <div class="bt_bb_column col-md-3 col-sm-6 col-ms-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal"
                                    data-width="3">
                                    <div class="bt_bb_column_content">
                                        <header
                                            class="bt_bb_headline bt_bb_color_scheme_1 bt_bb_dash_top bt_bb_superheadline bt_bb_subheadline bt_bb_size_extrasmall bt_bb_align_inherit"
                                            data-bt-override-class="{}">
                                            <h5 class="bt_bb_headline_tag">
                                                <span class="bt_bb_headline_superheadline">GET IN
                                                    TOUCH</span><span class="bt_bb_headline_content"><span><b>Avantage
                                                            Social
                                                            links</b></span></span>
                                            </h5>
                                            <div class="bt_bb_headline_subheadline">
                                                Taking seamless key performance indicators offline
                                                to maximise the long tail.
                                            </div>
                                        </header>
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_top_spacing_small"
                                            data-bt-override-class="null"></div>
                                        <div class="bt_bb_icon bt_bb_color_scheme_6 bt_bb_style_filled bt_bb_size_small bt_bb_shape_circle bt_bb_align_inherit"
                                            style="min-width: 3em">
                                            <a href="https://www.facebook.com/boldthemes/" target="_blank"
                                                data-ico-fontawesome="&#xf09a;" class="bt_bb_icon_holder"></a>
                                        </div>
                                        <div class="bt_bb_icon bt_bb_color_scheme_6 bt_bb_style_filled bt_bb_size_small bt_bb_shape_circle bt_bb_align_inherit"
                                            style="min-width: 3em">
                                            <a href="https://twitter.com/bold_themes" target="_blank"
                                                data-ico-fontawesome="&#xf099;" class="bt_bb_icon_holder"></a>
                                        </div>
                                        <div class="bt_bb_icon bt_bb_color_scheme_6 bt_bb_style_filled bt_bb_size_small bt_bb_shape_circle bt_bb_align_inherit"
                                            style="min-width: 3em">
                                            <a href="https://www.pinterest.com/boldthemes/" target="_blank"
                                                data-ico-fontawesome="&#xf231;" class="bt_bb_icon_holder"></a>
                                        </div>
                                        <div class="bt_bb_icon bt_bb_color_scheme_6 bt_bb_style_filled bt_bb_size_small bt_bb_shape_circle bt_bb_align_inherit"
                                            style="min-width: 3em">
                                            <a href="#" target="_blank" data-ico-fontawesome="&#xf0e1;"
                                                class="bt_bb_icon_holder"></a>
                                        </div>
                                        <div class="bt_bb_separator bt_bb_border_style_none"
                                            data-bt-override-class="null"></div>
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_top_spacing_normal bt_bb_bottom_spacing_medium"
                                            data-bt-override-class="null"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bt_bb_row_wrapper">
                            <div class="bt_bb_row bt_bb_column_gap_10 bt_bb_hidden_sm bt_bb_hidden_md bt_bb_hidden_lg">
                                <div class="bt_bb_column col-md-12 col-ms-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal"
                                    data-width="12">
                                    <div class="bt_bb_column_content">
                                        <header
                                            class="bt_bb_headline bt_bb_color_scheme_1 bt_bb_dash_top bt_bb_superheadline bt_bb_subheadline bt_bb_size_extrasmall bt_bb_align_inherit"
                                            data-bt-override-class="{}">
                                            <h5 class="bt_bb_headline_tag">
                                                <span class="bt_bb_headline_superheadline">AVANTAGE</span><span
                                                    class="bt_bb_headline_content"><span><b>Headquarters</b></span></span>
                                            </h5>
                                            <div class="bt_bb_headline_subheadline">
                                                Organically grow the holistic world view of
                                                disruptive innovation via empowerment.
                                            </div>
                                        </header>
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_small"
                                            data-bt-override-class="null"></div>
                                        <div
                                            class="bt_bb_icon bt_bb_color_scheme_6 bt_bb_style_borderless bt_bb_size_xsmall bt_bb_shape_circle bt_bb_align_inherit">
                                            <a href="tel:02079460020" target="_self" title="020 7946 0020"
                                                data-ico-fontawesome="&#xf095;" class="bt_bb_icon_holder"><span>020 7946
                                                    0020</span></a>
                                        </div>
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_extra_small"
                                            data-bt-override-class="null"></div>
                                        <div
                                            class="bt_bb_icon bt_bb_color_scheme_6 bt_bb_style_borderless bt_bb_size_xsmall bt_bb_shape_circle bt_bb_align_inherit">
                                            <a href="mailto:info@avantage.co.uk" target="_self"
                                                title="info@avantage.co.uk" data-ico-fontawesome="&#xf0e0;"
                                                class="bt_bb_icon_holder"><span>info@avantage.co.uk</span></a>
                                        </div>
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_extra_small"
                                            data-bt-override-class="null"></div>
                                        <div
                                            class="bt_bb_icon bt_bb_color_scheme_6 bt_bb_style_borderless bt_bb_size_xsmall bt_bb_shape_circle bt_bb_align_inherit">
                                            <a href="http://www.avantage.co.uk" target="_blank" title="avantage.co.uk"
                                                data-ico-fontawesome="&#xf0ac;"
                                                class="bt_bb_icon_holder"><span>avantage.co.uk</span></a>
                                        </div>
                                        <div class="bt_bb_separator bt_bb_border_style_none"
                                            data-bt-override-class="null"></div>
                                        <div class="bt_bb_separator bt_bb_border_style_solid bt_bb_top_spacing_medium bt_bb_bottom_spacing_medium"
                                            data-bt-override-class="null"></div>
                                        <header
                                            class="bt_bb_headline bt_bb_color_scheme_1 bt_bb_dash_top bt_bb_superheadline bt_bb_size_extrasmall bt_bb_align_inherit"
                                            data-bt-override-class="{}">
                                            <h5 class="bt_bb_headline_tag">
                                                <span class="bt_bb_headline_superheadline">OUR
                                                    LOCATIONS</span><span class="bt_bb_headline_content"><span><b>Where
                                                            to find
                                                            us?</b></span></span>
                                            </h5>
                                        </header>
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_small"
                                            data-bt-override-class="null"></div>
                                        <div class="bt_bb_image bt_bb_shape_square bt_bb_align_inherit bt_bb_hover_style_simple bt_bb_content_display_always bt_bb_content_align_middle"
                                            data-bt-override-class="{}">
                                            <span><img width="280" height="142"
                                                    src="http://avantage.bold-themes.com/business/wp-content/uploads/sites/2/2019/04/img-footer-map.png"
                                                    class="attachment-full size-full"
                                                    alt="http://avantage.bold-themes.com/business/wp-content/uploads/sites/2/2019/04/img-footer-map.png"
                                                    loading="lazy"
                                                    data-full_image_src="http://avantage.bold-themes.com/business/wp-content/uploads/sites/2/2019/04/img-footer-map.png"
                                                    title="img-footer-map" /></span>
                                        </div>
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_small"
                                            data-bt-override-class="null"></div>
                                        <div
                                            class="bt_bb_icon bt_bb_color_scheme_4 bt_bb_style_borderless bt_bb_size_xsmall bt_bb_shape_circle bt_bb_align_inherit">
                                            <a href="tel:02079460020" target="_self" title="London: 020 7946 0020"
                                                data-ico-fontawesome="&#xf041;" class="bt_bb_icon_holder"><span>London:
                                                    020 7946 0020</span></a>
                                        </div>
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_extra_small"
                                            data-bt-override-class="null"></div>
                                        <div
                                            class="bt_bb_icon bt_bb_color_scheme_4 bt_bb_style_borderless bt_bb_size_xsmall bt_bb_shape_circle bt_bb_align_inherit">
                                            <a href="tel:6132855534" target="_self" title="Ontario: 613 285 5534"
                                                data-ico-fontawesome="&#xf041;" class="bt_bb_icon_holder"><span>Ontario:
                                                    613 285 5534</span></a>
                                        </div>
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_extra_small"
                                            data-bt-override-class="null"></div>
                                        <div
                                            class="bt_bb_icon bt_bb_color_scheme_4 bt_bb_style_borderless bt_bb_size_xsmall bt_bb_shape_circle bt_bb_align_inherit">
                                            <a href="tel:0428298114" target="_self" title="Tokyo: 0428 298 114"
                                                data-ico-fontawesome="&#xf041;" class="bt_bb_icon_holder"><span>Tokyo:
                                                    0428 298 114</span></a>
                                        </div>
                                        <div class="bt_bb_separator bt_bb_border_style_none"
                                            data-bt-override-class="null"></div>
                                        <div class="bt_bb_separator bt_bb_border_style_solid bt_bb_top_spacing_medium bt_bb_bottom_spacing_medium"
                                            data-bt-override-class="null"></div>
                                        <header
                                            class="bt_bb_headline bt_bb_color_scheme_1 bt_bb_dash_top bt_bb_superheadline bt_bb_subheadline bt_bb_size_extrasmall bt_bb_align_inherit"
                                            data-bt-override-class="{}">
                                            <h5 class="bt_bb_headline_tag">
                                                <span class="bt_bb_headline_superheadline">GET IN
                                                    TOUCH</span><span class="bt_bb_headline_content"><span><b>Avantage
                                                            Social
                                                            links</b></span></span>
                                            </h5>
                                            <div class="bt_bb_headline_subheadline">
                                                Taking seamless key performance indicators offline
                                                to maximise the long tail.
                                            </div>
                                        </header>
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_top_spacing_normal"
                                            data-bt-override-class="null"></div>
                                        <div class="bt_bb_icon bt_bb_color_scheme_6 bt_bb_style_filled bt_bb_size_small bt_bb_shape_circle bt_bb_align_inherit"
                                            style="min-width: 3em">
                                            <a href="https://www.facebook.com/boldthemes/" target="_blank"
                                                data-ico-fontawesome="&#xf09a;" class="bt_bb_icon_holder"></a>
                                        </div>
                                        <div class="bt_bb_icon bt_bb_color_scheme_6 bt_bb_style_filled bt_bb_size_small bt_bb_shape_circle bt_bb_align_inherit"
                                            style="min-width: 3em">
                                            <a href="https://twitter.com/bold_themes" target="_blank"
                                                data-ico-fontawesome="&#xf099;" class="bt_bb_icon_holder"></a>
                                        </div>
                                        <div class="bt_bb_icon bt_bb_color_scheme_6 bt_bb_style_filled bt_bb_size_small bt_bb_shape_circle bt_bb_align_inherit"
                                            style="min-width: 3em">
                                            <a href="https://www.pinterest.com/boldthemes/" target="_blank"
                                                data-ico-fontawesome="&#xf231;" class="bt_bb_icon_holder"></a>
                                        </div>
                                        <div class="bt_bb_icon bt_bb_color_scheme_6 bt_bb_style_filled bt_bb_size_small bt_bb_shape_circle bt_bb_align_inherit"
                                            style="min-width: 3em">
                                            <a href="#" target="_blank" data-ico-fontawesome="&#xf0e1;"
                                                class="bt_bb_icon_holder"></a>
                                        </div>
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_bottom_spacing_medium"
                                            data-bt-override-class="null"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="bt_bb_section62a90cb855e89"
            class="bt_bb_section bt_bb_color_scheme_1 bt_bb_layout_boxed_1200 bt_bb_vertical_align_top"
            style="background-color: #e94d65">
            <div class="bt_bb_port">
                <div class="bt_bb_cell">
                    <div class="bt_bb_cell_inner">
                        <div class="bt_bb_row_wrapper">
                            <div class="bt_bb_row">
                                <div class="bt_bb_column col-md-12 col-ms-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal"
                                    data-width="12">
                                    <div class="bt_bb_column_content">
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_top_spacing_normal"
                                            data-bt-override-class="null"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bt_bb_row_wrapper">
                            <div class="bt_bb_row bt_bb_hidden_xs bt_bb_hidden_ms">
                                <div class="bt_bb_column col-md-4 col-ms-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal"
                                    data-width="4">
                                    <div class="bt_bb_column_content">
                                        <div class="bt_bb_text">
                                            <p>
                                                Copyright by <strong>BoldThemes</strong>. All
                                                rights reserved.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="bt_bb_column col-md-8 col-ms-12 bt_bb_align_right bt_bb_vertical_align_top bt_bb_padding_normal"
                                    data-width="8">
                                    <div class="bt_bb_column_content">
                                        <div class="bt_bb_custom_menu btBottomFooterMenu bt_bb_direction_vertical">
                                            <div class="menu-footer-menu-container">
                                                <ul id="menu-footer-menu" class="menu">
                                                    <li id="menu-item-1674"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1609 current_page_item menu-item-1674">
                                                        <a href="http://avantage.bold-themes.com/business/"
                                                            aria-current="page">HOME</a>
                                                    </li>
                                                    <li id="menu-item-1675"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1675">
                                                        <a href="http://avantage.bold-themes.com/business/about-us/">ABOUT
                                                            US</a>
                                                    </li>
                                                    <li id="menu-item-1676"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1676">
                                                        <a
                                                            href="http://avantage.bold-themes.com/business/services/">SERVICES</a>
                                                    </li>
                                                    <li id="menu-item-1677"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1677">
                                                        <a
                                                            href="http://avantage.bold-themes.com/business/cases/">PORTFOLIO</a>
                                                    </li>
                                                    <li id="menu-item-1678"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1678">
                                                        <a
                                                            href="http://avantage.bold-themes.com/business/blog/">BLOG</a>
                                                    </li>
                                                    <li id="menu-item-1679"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-1679">
                                                        <a
                                                            href="http://avantage.bold-themes.com/business/shop/">SHOP</a>
                                                    </li>
                                                    <li id="menu-item-1680"
                                                        class="bt_bb_back_to_top bt_bb_back_to_top_alternate_arrow menu-item menu-item-type-custom menu-item-object-custom menu-item-1680">
                                                        <a href="#top">BACK TO TOP</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bt_bb_row_wrapper">
                            <div class="bt_bb_row bt_bb_hidden_sm bt_bb_hidden_md bt_bb_hidden_lg">
                                <div class="bt_bb_column col-md-12 col-ms-12 bt_bb_align_center bt_bb_vertical_align_top bt_bb_padding_normal"
                                    data-width="12">
                                    <div class="bt_bb_column_content">
                                        <div class="bt_bb_text">
                                            <p>
                                                Copyright by <strong>BoldThemes</strong>. All
                                                rights reserved.
                                            </p>
                                        </div>
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_top_spacing_normal"
                                            data-bt-override-class="null"></div>
                                        <div class="bt_bb_custom_menu btBottomFooterMenu bt_bb_direction_vertical">
                                            <div class="menu-footer-menu-container">
                                                <ul id="menu-footer-menu-1" class="menu">
                                                    <li
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1609 current_page_item menu-item-1674">
                                                        <a href="http://avantage.bold-themes.com/business/"
                                                            aria-current="page">HOME</a>
                                                    </li>
                                                    <li
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1675">
                                                        <a href="http://avantage.bold-themes.com/business/about-us/">ABOUT
                                                            US</a>
                                                    </li>
                                                    <li
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1676">
                                                        <a
                                                            href="http://avantage.bold-themes.com/business/services/">SERVICES</a>
                                                    </li>
                                                    <li
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1677">
                                                        <a
                                                            href="http://avantage.bold-themes.com/business/cases/">PORTFOLIO</a>
                                                    </li>
                                                    <li
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1678">
                                                        <a
                                                            href="http://avantage.bold-themes.com/business/blog/">BLOG</a>
                                                    </li>
                                                    <li
                                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-1679">
                                                        <a
                                                            href="http://avantage.bold-themes.com/business/shop/">SHOP</a>
                                                    </li>
                                                    <li
                                                        class="bt_bb_back_to_top bt_bb_back_to_top_alternate_arrow menu-item menu-item-type-custom menu-item-object-custom menu-item-1680">
                                                        <a href="#top">BACK TO TOP</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bt_bb_row_wrapper">
                            <div class="bt_bb_row">
                                <div class="bt_bb_column col-md-12 col-ms-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal"
                                    data-width="12">
                                    <div class="bt_bb_column_content">
                                        <div class="bt_bb_separator bt_bb_border_style_none bt_bb_top_spacing_normal"
                                            data-bt-override-class="null"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="btLightSkin"></footer>
</div>